<p>
   Part 1 Targets: <a href="/flexible/square/5">Flexible Square Example</a>
    <a href="/flexible/square_root/8">Flexible Square Root Example</a>
    <a href="/flexible/payment/410/30/250000">Flexible Payment Example</a>
</p>
<h1>
   Flexible square
</h1>
<p>
   The square of <%= @user_number %> is <%= @square %>
</p>
