<p>
   Part 1 Targets: <a href="/flexible/square/5">Flexible Square Example</a>
    <a href="/flexible/square_root/8">Flexible Square Root Example</a>
    <a href="/flexible/payment/410/30/250000">Flexible Payment Example</a>
</p>
<h1>
   Flexible Square Root
</h1>
<p>
   A <%= @years %> year loan of $<%= @principal.round %>, with an annual interest rate of <%= @apr %>%, requires a monthly payment of $<%= @payment.round(2) %>.
</p>
