<p>
   Part 1 Targets: <a href="/flexible/square/5">Flexible Square Example</a>
    <a href="/flexible/square_root/8">Flexible Square Root Example</a>
    <a href="/flexible/payment/410/30/250000">Flexible Payment Example</a>
    <a href="/flexible/random/50/100">Flexible Random Example</a>
</p>
<p>
   Part 2 Targets:
   <a href="/square/new">Square Form</a>
   <a href="/square_root/new">Square Root Form</a>
   <a href="/payment/new">Payment Form</a>
   <a href="/random/new">Random Form</a>
</p>
<p>
   Part 3 Targets:
   <a href="/word_count/new">Word Count Form</a>
   <a href="/descriptive_statistics/new">Stats Form</a>
</p>

<h1>
   Random Calculation
</h1>

   <form action="/random/results">
   <div>
      <label>
         Minimum
      </label>

      <input type="text" name="user_min">
   </div>
   <div>
      <label>
         Maximum
      </label>

      <input type="text" name="user_max">
   </div>

   <button>Pick random number</button>
</form>
